/* App.css */
#root {
  border-radius: 25px;
  border: solid;
  width: 30vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222831;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.displayPanel {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayPanel input {
  border-radius: 10px;
  width: 25vw;
  height: 15vh;
  background-color: #393E46;
  border-width: 0;
}

.calculatorInput {
  display: flex;
  flex-direction: column;
}

.row {
  /* Add any styles for the rows of buttons */
  display: flex;
  justify-content: center;
}

.inputButton {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  border: none;
  background-color: #EEEEEE;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  width: 6vw;
  height: 7vh;
  margin: 5px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}
.inputButton:hover {
  background-color: #CCCCCC ;
}

.operation {
  background-color: #80BCBD;
}
.operation:hover {
  background-color: #00ADB5;
}

.equal {
  background-color: #f33d1d;
  flex-grow: 2;
}

.equal:hover {
  background-color: rgb(228, 39, 15);
}